In [92]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.arange(16).reshape(4,4),
             index=['台北','台中','台南', '高雄'],
             columns=['one', 'two', 'three', 'four'])
display(df)

    one  two  three  four
台北    0    1      2     3
台中    4    5      6     7
台南    8    9     10    11
高雄   12   13     14    15

In [93]:
#使用subscript[]選取欄
print(type(df['two']))
df['two']
int(df['two']['台中'])

<class 'pandas.core.series.Series'>

5

In [94]:
int(df.loc['台北']['two'])

1

In [95]:
#使用subscript[[]]
df[['one','two']]

    one  two
台北    0    1
台中    4    5
台南    8    9
高雄   12   13

In [96]:
#使用loc[[]]
df.loc[['台北','台中']]

    one  two  three  four
台北    0    1      2     3
台中    4    5      6     7

In [97]:
df.loc[['台北','台中'],['one','two','three']]

    one  two  three
台北    0    1      2
台中    4    5      6

In [98]:
df.iloc[0:2,0:3]

    one  two  three
台北    0    1      2
台中    4    5      6

In [99]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(9).reshape(3,3),
             index=['a','c','d'],
             columns=['台北','台中', '高雄'])
df

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [100]:
display(df.reindex(labels = ['a','c'],axis=0))
df.reindex(labels = ['台北','台中'],axis=1)

   台北  台中  高雄
a   0   1   2
c   3   4   5

   台北  台中
a   0   1
c   3   4
d   6   7

In [101]:
#使用DataFrame.reindex()
display(df.reindex(labels=['a','c'],axis=0))
display(df.reindex(labels=['台北','高雄'],axis=1))

   台北  台中  高雄
a   0   1   2
c   3   4   5

   台北  高雄
a   0   2
c   3   5
d   6   8

In [102]:
df1 = pd.DataFrame(np.arange(16).reshape(4,4),
             index=['台北','台中','台南', '高雄'],
             columns=['one', 'two', 'three', 'four'])

df1

    one  two  three  four
台北    0    1      2     3
台中    4    5      6     7
台南    8    9     10    11
高雄   12   13     14    15

In [103]:
df1.drop(labels=['台北'],axis=0)

    one  two  three  four
台中    4    5      6     7
台南    8    9     10    11
高雄   12   13     14    15

In [104]:
df1.drop(labels=['two','four'],axis=1)

    one  three
台北    0      2
台中    4      6
台南    8     10
高雄   12     14

In [105]:
df.columns = ['統計年','區域別','年底人口數','土地面積','人口密度']
df

ValueError: Length mismatch: Expected axis has 3 elements, new values have 5 elements

In [56]:
import pandas as pd
df = pd.read_csv('各鄉鎮市區人口密度.csv')
df

,statistic_yyy,site_id,people_total,area,population_density
0,統計年,區域別,年底人口數,土地面積,人口密度
1,106,新北市板橋區,551480,23.1373,23835
2,106,新北市三重區,387484,16.317,23747
3,106,新北市中和區,413590,20.144,20532
4,106,新北市永和區,222585,5.7138,38956
...,...,...,...,...,...
371,NaN,NaN,NaN,NaN,NaN
372,NaN,說明：1.人口密度係指每單位土地面積內之人口數。,NaN,NaN,NaN
373,NaN,2.96年12月起，我國土地面積增列東沙群島(2.38平方公里)及南沙群島(0.4896平方公里),NaN,NaN,NaN
374,NaN,，由高雄市代管；原金門縣烏坵鄉面積，因重測由2.6平方公里修正為1.2平方公里。,NaN,NaN,NaN
375,NaN,3.104年12月南沙太平島交通基礎整建工程竣工，增加面積0.0149平方公里。,NaN,NaN,NaN

In [57]:
df.head(n=10)

  statistic_yyy site_id people_total      area population_density
0           統計年     區域別        年底人口數      土地面積               人口密度
1           106  新北市板橋區       551480   23.1373              23835
2           106  新北市三重區       387484    16.317              23747
3           106  新北市中和區       413590    20.144              20532
4           106  新北市永和區       222585    5.7138              38956
5           106  新北市新莊區       416524   19.7383              21102
6           106  新北市新店區       302089  120.2255               2513
7           106  新北市樹林區       184149   33.1288               5559
8           106  新北市鶯歌區        86593   21.1248               4099
9           106  新北市三峽區       114926  191.4508                600

In [58]:
display(df.head(n=10))
display(df.tail(n=10))

  statistic_yyy site_id people_total      area population_density
0           統計年     區域別        年底人口數      土地面積               人口密度
1           106  新北市板橋區       551480   23.1373              23835
2           106  新北市三重區       387484    16.317              23747
3           106  新北市中和區       413590    20.144              20532
4           106  新北市永和區       222585    5.7138              38956
5           106  新北市新莊區       416524   19.7383              21102
6           106  新北市新店區       302089  120.2255               2513
7           106  新北市樹林區       184149   33.1288               5559
8           106  新北市鶯歌區        86593   21.1248               4099
9           106  新北市三峽區       114926  191.4508                600

,statistic_yyy,site_id,people_total,area,population_density
366,106,連江縣北竿鄉,2360,9.9,238
367,106,連江縣莒光鄉,1624,4.7,346
368,106,連江縣東引鄉,1352,3.8,356
369,106,東沙群島,…,2.38,…
370,106,南沙群島,…,0.5045,…
371,NaN,NaN,NaN,NaN,NaN
372,NaN,說明：1.人口密度係指每單位土地面積內之人口數。,NaN,NaN,NaN
373,NaN,2.96年12月起，我國土地面積增列東沙群島(2.38平方公里)及南沙群島(0.4896平方公里),NaN,NaN,NaN
374,NaN,，由高雄市代管；原金門縣烏坵鄉面積，因重測由2.6平方公里修正為1.2平方公里。,NaN,NaN,NaN
375,NaN,3.104年12月南沙太平島交通基礎整建工程竣工，增加面積0.0149平方公里。,NaN,NaN,NaN

In [59]:
df1 = df.drop(labels=[0],axis=0)
df1

,statistic_yyy,site_id,people_total,area,population_density
1,106,新北市板橋區,551480,23.1373,23835
2,106,新北市三重區,387484,16.317,23747
3,106,新北市中和區,413590,20.144,20532
4,106,新北市永和區,222585,5.7138,38956
5,106,新北市新莊區,416524,19.7383,21102
...,...,...,...,...,...
371,NaN,NaN,NaN,NaN,NaN
372,NaN,說明：1.人口密度係指每單位土地面積內之人口數。,NaN,NaN,NaN
373,NaN,2.96年12月起，我國土地面積增列東沙群島(2.38平方公里)及南沙群島(0.4896平方公里),NaN,NaN,NaN
374,NaN,，由高雄市代管；原金門縣烏坵鄉面積，因重測由2.6平方公里修正為1.2平方公里。,NaN,NaN,NaN
375,NaN,3.104年12月南沙太平島交通基礎整建工程竣工，增加面積0.0149平方公里。,NaN,NaN,NaN

,統計年,區域別,年底人口數,土地面積,人口密度
0,統計年,區域別,年底人口數,土地面積,人口密度
1,106,新北市板橋區,551480,23.1373,23835
2,106,新北市三重區,387484,16.317,23747
3,106,新北市中和區,413590,20.144,20532
4,106,新北市永和區,222585,5.7138,38956
...,...,...,...,...,...
371,NaN,NaN,NaN,NaN,NaN
372,NaN,說明：1.人口密度係指每單位土地面積內之人口數。,NaN,NaN,NaN
373,NaN,2.96年12月起，我國土地面積增列東沙群島(2.38平方公里)及南沙群島(0.4896平方公里),NaN,NaN,NaN
374,NaN,，由高雄市代管；原金門縣烏坵鄉面積，因重測由2.6平方公里修正為1.2平方公里。,NaN,NaN,NaN
375,NaN,3.104年12月南沙太平島交通基礎整建工程竣工，增加面積0.0149平方公里。,NaN,NaN,NaN

In [76]:
#移除沒有值的index
#DataFrame.dropna()
df2 = df1.dropna()
df2

    statistic_yyy site_id people_total     area population_density
1             106  新北市板橋區       551480  23.1373              23835
2             106  新北市三重區       387484   16.317              23747
3             106  新北市中和區       413590   20.144              20532
4             106  新北市永和區       222585   5.7138              38956
5             106  新北市新莊區       416524  19.7383              21102
..            ...     ...          ...      ...                ...
366           106  連江縣北竿鄉         2360      9.9                238
367           106  連江縣莒光鄉         1624      4.7                346
368           106  連江縣東引鄉         1352      3.8                356
369           106    東沙群島           …      2.38                 …
370           106    南沙群島           …    0.5045                 …

[370 rows x 5 columns]

In [75]:
#刪除369,370列
df3 = df2.drop(labels=[369,370],axis=0)
df3

    statistic_yyy site_id people_total     area population_density
1             106  新北市板橋區       551480  23.1373              23835
2             106  新北市三重區       387484   16.317              23747
3             106  新北市中和區       413590   20.144              20532
4             106  新北市永和區       222585   5.7138              38956
5             106  新北市新莊區       416524  19.7383              21102
..            ...     ...          ...      ...                ...
364           106  金門縣烏坵鄉          685      1.2                571
365           106  連江縣南竿鄉         7544     10.4                725
366           106  連江縣北竿鄉         2360      9.9                238
367           106  連江縣莒光鄉         1624      4.7                346
368           106  連江縣東引鄉         1352      3.8                356

[368 rows x 5 columns]

In [73]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 368 entries, 1 to 368
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   statistic_yyy       368 non-null    object
 1   site_id             368 non-null    object
 2   people_total        368 non-null    object
 3   area                368 non-null    object
 4   population_density  368 non-null    object
dtypes: object(5)
memory usage: 17.2+ KB

In [3]:
import pandas as pd
df = pd.read_csv('world.csv')
df1 = df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數'])

# Japan

df1[df1['洲名'] == '亞洲']
df_jp = df1[df1['國家'] == '日本']
jp_max = int(df_jp['新增確診數'].max())
jp_max_row = df_jp.query("新增確診數==@jp_max")

# USA

df1[df1['洲名'] == '北美洲']
df_usa = df1[df1['國家'] == '美國']
usa_max = int(df_usa['新增確診數'].max())
usa_max_row = df_usa.query("新增確診數==@usa_max")

# Combined
result = pd.concat([jp_max_row,usa_max_row])
display(result)

         洲名  國家          日期      總確診數    新增確診數       總人口數
86369    亞洲  日本  2022-02-03   3019169   104345  126050796
177979  北美洲  美國  2022-01-10  61801347  1383887  332915074